body {
    background-color: white;
}

header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #581845;
}

header h1 {
    color: #D3CED0 ;
    font-size: 36px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: inline-flex;
}

header nav ul {
    float: right;
    display: inline-flex;
    list-style-type: none;
    padding-right: 50px;
    margin-top: 50px;
    font-size: 20px;
}

nav li a {
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    color: #D3CED0;
}

#content {
    display: flex;
    align-items: center;
}

#profilepic {
    width: auto;
    height: 400px;
    padding-top: 150px;
    padding-left: 50px;
    padding-bottom: 25px;
    float: left;
}

.intro {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.intro h2 {
    font-size: 28px;
}

.intro p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: 2px dashed black;
    padding: 50px 25px;
}

.education {
    background-color: #FF5733;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 75px;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education h2 {
    margin-right: 50px;
    margin-left: 25px;
}

.educationtext {
    display: block;
    border: 1px solid white;
    padding: 10px 35px;
}

.skills {
    margin: 50px 50px;
}

.skills h2 {
    font-size: 36px;
}

.icons {
    color: dodgerblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* Resume page*/
embed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}